.formContent {
  height: 400px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 30px;
  background-image: radial-gradient(circle farthest-corner at 7.2% 13.6%,
  #0050b3,
      white);
  max-width: 30%;
  box-shadow: 15px 10px 20px;
}