.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 60px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #00a758;
}

.logo p {
  margin-bottom: 0;
  margin-right: 10px;
  line-height: 60px;
}

.logoMini {
  height: 60px;
  width: 60px;
  margin: 10px;
  background-color: #00a758;
  border-radius: 70%;
  overflow: hidden;
}

.site-layout .site-layout-background {
  background: #fff;
}