.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: #0051b380;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.bgleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 57.5%;
    height: 100%;
    z-index: 1;
}

.bgright {
    position: absolute;
    top: -1.4%;
    right: 0;
    width: 57.6%;
    height: 100%;
    z-index: 1;
}

.text {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.text_body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.text_header {
    background-color: rgb(217, 217, 41);
    color: #ffffff;
    padding: 5px 30px;
    border-radius: 30px;
    font-size: 30px;
    width: 40%;
    margin: 20px auto 20px auto;
    text-align: center;
}

.text_right {
    background-color: #ffffff;
    color: #0051b3;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 25px;
    margin-right: 120px;
    font-weight: 700;
    height: 50px;
}

.title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    width: 40%;
    margin-left: 75px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content_left {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 75px;
    margin-right: 130px;
    text-align: center;
    align-items: center;
}

.content_right {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 75px;
    text-align: center;
}

.content_right .content_mini span {
    display: inline-block;
    width: 33.3%;
}

.content2 {
    background-color: #ffffff;
    color: #0051b3;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.content2 p {
    line-height: 25px;
}

.round {
    background-color: #ffffff;
    color: #0051b3;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
}

.content_mini {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}