@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout {
  height: 110vh;
}


.ant-menu .anticon svg {
  font-size: 25px !important;
}

.ant-layout-header {
  height: 77px !important;
}

.ant-form-inline {
  justify-content: space-around !important;
}

.ant-col {
  margin: 10px 0;
}

.ant-row {
  margin: 0;
}

.ant-input-number {
  width: auto;
}

.ant-form label {
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.ant-form-item-control-input {
  justify-content: space-between !important
}

.ant-carousel .slick-dots li button {
  background-color: black;
}

.ant-carousel .slick-dots li {
  width: 5px;
}

.ant-carousel .slick-dots li.slick-active {
  width: 30px;
}

.ant-carouse .slick-dots li.slick-active button:before {
  background-color: red !important;
}

.ant-table-container .ant-table-header table thead th {
  background-color: #0050b3 !important;
  color: #fff !important;
}

.ant-table-body::-webkit-scrollbar {
  width: 10px;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(89, 89, 89, 0.2);
  background: #939392;
}

/* .ant-table-body::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
  background:
    #f0f2f5;
} */

.red {
  color: red;
}

.green {
  color: green;
}

.light {
  background-color: #ffffff;
}

.dark {
  background-color: #d9d9d9;
}

.ant-table-tbody>tr:hover>td {
  background-color: #0051b358 !important
}

/* Pagination */
.ant-table-pagination.ant-pagination {
  margin: 24px 0 !important;
}

.ant-table-pagination.ant-pagination .ant-pagination-options {
  display: flex;
  justify-content: flex-end;
  margin-left: 24px !important;
}

.ant-table-pagination.ant-pagination .ant-pagination-options .ant-select-selector {
  height: 32px !important;
  padding: 5px 7px !important;
}



.ant-pagination {
  align-items: center;
}

li.ant-pagination-item {
  display: none;
}

li.ant-pagination-total-text {
  margin-right: 20px;
  color: #707177;
  font-size: 13px;
  letter-spacing: 0.12px;
}

.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link {
  background: #f0f2f6;
  border-color: transparent;
}

.ant-pagination.mini .ant-pagination-next {
  margin-left: 25px;
}

button.ant-pagination-item-link {
  padding: 0;
  font-size: 10px !important;
  border-radius: 50% !important;
}

.ant-pagination-options-size-changer .ant-select-selector {
  align-items: center;
}

/* End Pagination */

/* Table */
.ant-table-thead>tr:first-child>th:last-child {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px;
}

.ant-table-thead>tr:first-child>th:first-child {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px;
}

.ant-table-header {
  border-radius: 5px;
  font-size: 18px;
}

li.ant-pagination-jump-next.ant-pagination-jump-next-custom-icon,
li.ant-pagination-jump-prev.ant-pagination-jump-prev-custom-icon {
  display: none;
}

/* End Table*/